.page {
    max-width: 880px;
    min-width: 320px;
    background-color: #000000;
    margin: auto;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFF;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}