.popup__close-button {
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: #fff0;
    background-image: url("../../../images/Close_Icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: opacity .3s;
    outline: none;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .popup__close-button {
        width: 36px;
        height: 36px;
        top: -50px;
        right: 0;
        background-size: cover;
    }
}