.popup__submit_disable {
    background-color: rgb(255, 255, 255);
    border: 1px solid #000000;
    color: #000000;
    box-sizing: border-box;
    opacity: 0.2;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}