.auth__ask {
	font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 15px;
    cursor: pointer;
}
.auth__ask:hover {
    opacity: .6;
}