.profile {
    margin: 40px auto 0;
    max-width: 880px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

@media screen and (max-width: 940px) {
    .profile {
        margin: 40px 40px 0;
    }
}

@media screen and (max-width: 876px) {
    .profile {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .profile {
        margin: 42px 19px 0;
    }
}