.header__auth-button {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	margin-left: 24px;
}
.header__auth-button:hover {
	opacity: .6;
}