.popup__input {
    margin: 4px 0 0;
    padding: 0 0 10px;
    max-width: 358px;
    height: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid #0003;
    outline: none;
}

.popup__input:first-of-type{
    margin: 48px 0 0 0;
}

@media screen and (max-width: 500px) {
    .popup__input:first-of-type {
        margin: 75px 0 0 0;
    }
}