.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: #00000080;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s linear, opacity .3s linear;
}